# /etc/default/monit

# Defaults for monit initscript.  This file is sourced by
# /bin/sh from /etc/init.d/monit.

# Options to pass to monit
# Additional command-line options to pass to the monit daemon (e.g., '-I' for init-style startup).
MONIT_OPTS={{ monit_opts | default('-I') }}