#
# Copyright (c) 2022 Oracle and/or its affiliates.
#
# This file is part of ktls-utils.
#
# ktls-utils is free software; you can redistribute it and/or
# modify it under the terms of GNU General Public License as
# published by the Free Software Foundation; version 2.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
# 02110-1301, USA.
#
# See tlshd.conf(5) for details.
#

[debug]
# Debug log level for general ktls-utils operations.
# Valid values are integers; 0 typically means no debug logging.
loglevel={{ loglevel | default(0) }}

# Debug log level for TLS operations.
# Valid values are integers; 0 typically means no debug logging.
tls={{ tls_debug | default(0) }}

# Debug log level for Netlink operations.
# Valid values are integers; 0 typically means no debug logging.
nl={{ nl_debug | default(0) }}

[authenticate]
# Semicolon-separated list of keyrings to use for authentication.
# If empty, the default system keyring is used or none.
keyrings={{ keyrings | default('') }}

[authenticate.client]
# Path to the X.509 truststore for client authentication.
# Used to verify server certificates during client-initiated TLS connections.
x509.truststore={{ x509_truststore_client | default('') }}

# Path to the X.509 certificate for client authentication.
# The public certificate presented to the server.
x509.certificate={{ x509_certificate_client | default('') }}

# Path to the private key for client authentication.
# The private key corresponding to the client certificate.
x509.private_key={{ x509_private_key_client | default('') }}

[authenticate.server]
# Path to the X.509 truststore for server authentication.
# Used to verify client certificates during server-initiated TLS connections.
x509.truststore={{ x509_truststore_server | default('') }}

# Path to the X.509 certificate for server authentication.
# The public certificate presented by the server.
x509.certificate={{ x509_certificate_server | default('') }}

# Path to the private key for server authentication.
# The private key corresponding to the server certificate.
x509.private_key={{ x509_private_key_server | default('') }}