{# dislocker-fuse configuration #}
{% if volume is defined %}-V {{ volume }} {% endif %}
{% if method == 'clearkey' %}-c {% endif %}
{% if method == 'bekfile' and bek_file is defined %}-f {{ bek_file }} {% endif %}
{% if method == 'user_password' %}{% if user_password is defined %}-u {{ user_password }} {% else %}-u {% endif %}{% endif %}
{% if method == 'recovery_password' %}{% if recovery_password is defined %}-p {{ recovery_password }} {% else %}-p {% endif %}{% endif %}
{% if method == 'fvek' and fvek_file is defined %}-k {{ fvek_file }} {% endif %}
{% if method == 'vmk' and vmk_file is defined %}-K {{ vmk_file }} {% endif %}
{% if offset is defined %}-O {{ offset }} {% endif %}
{% if force_block is defined %}-F{% if force_block != true %} {{ force_block | lower }}{% endif %} {% endif %}
{% if logfile is defined %}-l {{ logfile }} {% endif %}
{% if readonly %}-r {% endif %}
{% if stateok %}-s {% endif %}
{% if quiet %}-q {% endif %}
{% if verbosity is defined and verbosity > 0 %}{% for i in range(verbosity) %}-v {% endfor %}{% endif %}
{% if mount_point is defined %}-- {{ mount_point }}{% endif %}