# example vpnc configuration file
# see vpnc --long-help for details

#Interface name {{ interface }}
#IKE DH Group {{ ike_dh_group }}
#Perfect Forward Secrecy {{ ipsec_pfs }}

# You may replace this script with something better
#Script /etc/vpnc/vpnc-script
# Enable this option for NAT traversal
#UDP Encapsulate

IPSec gateway {{ gateway }}
#IPSec ID <group-id>
IPSec secret {{ psk }}
#IKE Authmode hybrid
#Xauth username {{ xauth_username }}
#Xauth password {{ xauth_password }}
