# Number of times to execute the posix_fadvise system call in a row.
# This corresponds to the -n <n> argument in nocache(1).
fadvise_calls_count: {{ (values | default({})).fadvise_calls_count | default(1) }}