# Apply kernel runtime parameters
# Each line sets a sysctl parameter: `key = value` or `key=value`
# Comments start with `#`
{% for item in sysctl_params %}
# {{ item.description }}
{{ item.key }} = {{ item.value }}
{% endfor %}