#
# The PAM configuration file for the `pwauth' service
#

# Path to the file that disallows non-root logins when it exists.
# (Replaces the `NOLOGINS_FILE' option from login.defs)
auth       requisite  pam_nologin.so

# Standard Un*x authentication.
@include common-auth

# Standard Un*x account
@include common-account