# Gophernicus configuration template.
#
# This template generates the command-line options for the gophernicus
# Gopher server daemon. It is self-documenting: each option corresponds
# to a field in the Ansible schema, with inline defaults and comments
# explaining the purpose.

# The following variable sets the options used to invoke gophernicus.
# Please see the man page for more details
OPTIONS=-r {{ gopher_root | default('/srv/gopher') }}