# Postfix MongoDB lookup library configuration
# This file defines the shared object for Postfix MongoDB lookups.
#
# Format: <library_path>:<type>:<owner>:<group>:<permissions>
# type: 'f' indicates a shared library file.

# shlib_directory: The directory where Postfix libraries are stored.
# Default: '/usr/lib/postfix'
{{ shlib_directory | default('/usr/lib/postfix') }}/postfix-mongodb.so:f:root:-:755