# Enable or disable the Bluetooth Mesh subsystem
MeshEnabled={{ mesh_enabled | lower }}

# Directory where mesh application keys and nodes are stored
MeshStateDir={{ mesh_state_dir }}

# Directory for storing application and network keys
MeshKeyDir={{ mesh_key_dir }}

# Number of mesh nodes the daemon should support concurrently
MaxMeshNodes={{ max_mesh_nodes }}

# Maximum number of relay messages to buffer
MaxRelayBuffer={{ max_relay_buffer }}

# Number of seconds before a relay message is discarded
RelayExpiryTime={{ relay_expiry_time }}

# Number of seconds between beacon transmissions
BeaconInterval={{ beacon_interval }}

# Enable or disable GATT proxy service
GattProxyEnabled={{ gatt_proxy_enabled | lower }}

# Enable or disable friend node functionality
FriendEnabled={{ friend_enabled | lower }}

# Number of friend node connections to support
MaxFriendConnections={{ max_friend_connections }}

# Enable or disable low power node support
LowPowerNodeEnabled={{ low_power_node_enabled | lower }}

# Number of Low Power Nodes supported
MaxLowPowerNodes={{ max_low_power_nodes }}

# Number of seconds between poll messages from LPN to Friend
PollTimeout={{ poll_timeout }}

# Number of seconds between Friendship establishment retries
FriendshipRetryTimeout={{ friendship_retry_timeout }}

# List of additional configuration options (key=value pairs) to include in the config
{% for item in extra_config %}{{ item.key }}={{ item.value }}
{% endfor %}