# Export filesystems to NFS clients
# Each line defines an exported directory and its access options
{% for export in exports %}
{{ export.path }} {{ export.client }}({{ export.options | join(', ') }})
{% endfor %}