version = 2

[plugins]
  [plugins."io.containerd.grpc.v1.cri"]
    [plugins."io.containerd.grpc.v1.cri".cni]
      bin_dir = "{{ plugins.cri.cni.bin_dir }}"
      conf_dir = "{{ plugins.cri.cni.conf_dir }}"
  [plugins."io.containerd.internal.v1.opt"]
    path = "{{ plugins.opt.path }}"