{# Heimdal KDC configuration file #}
{% if kdc_db_dir is defined %}[kdc]
{% if kdc_db_dir %}    database = {{ kdc_db_dir }}{% endif %}
{% if kdc_db_mode %}    lock-file = {{ kdc_db_dir }}/{{ kdc_db_mode }}.lock{% endif %}
{% if kdc_port %}    port = {{ kdc_port }}{% endif %}
{% if kdc_realm %}    realm = {{ kdc_realm }}{% endif %}
{% if kdc_enable_audit %}    audit = true{% else %}    audit = false{% endif %}
{% if kdc_enable_http %}    http = true{% else %}    http = false{% endif %}
{% if kdc_enable_hprop %}    hprop = true{% else %}    hprop = false{% endif %}
{% if kdc_enable_hpropd %}    hpropd = true{% else %}    hpropd = false{% endif %}
{% if kdc_enable_kadmin %}    kadmin = true{% else %}    kadmin = false{% endif %}
{% if kdc_enable_kadmin_local %}    kadmin_local = true{% else %}    kadmin_local = false{% endif %}
{% if kdc_acl_file %}    acl-file = {{ kdc_acl_file }}{% endif %}
{% if kdc_keytab_file %}    keytab = {{ kdc_keytab_file }}{% endif %}
{% if kdc_log_file %}    log = {{ kdc_log_file }}{% endif %}
{% if kdc_max_life %}    max_life = {{ kdc_max_life }}{% endif %}
{% if kdc_max_renewable_life %}    max_renewable_life = {{ kdc_max_renewable_life }}{% endif %}
{% if kdc_preauth_types %}    preauth_types = {{ kdc_preauth_types | join(', ') }}{% endif %}
{% if kdc_default_flags %}    default_flags = {{ kdc_default_flags | join(', ') }}{% endif %}
{% endif %}

{% if kdc_listen is defined %}{# Listen addresses and ports #}
{% if kdc_listen|length > 0 %}listen:
{% for item in kdc_listen %}{% if item.address %}    {% if item.interface %}interface = {{ item.interface }}{% endif %}
    address = {{ item.address }}{% if item.port %}
    port = {{ item.port }}{% endif %}
{% if item.protocol %}    protocol = {{ item.protocol }}{% endif %}
{% if item.ssl_key_file %}    ssl-key = {{ item.ssl_key_file }}{% endif %}
{% if item.ssl_cert_file %}    ssl-cert = {{ item.ssl_cert_file }}{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if kdc_realm_configs is defined %}{# Per-realm configurations #}
{% if kdc_realm_configs|length > 0 %}[realms]
{% for realm in kdc_realm_configs %}{% if realm.name %}[{{ realm.name }}]
{% if realm.database %}    database = {{ realm.database }}{% endif %}
{% if realm.keytab %}    keytab = {{ realm.keytab }}{% endif %}
{% if realm.max_life %}    max_life = {{ realm.max_life }}{% endif %}
{% if realm.max_renewable_life %}    max_renewable_life = {{ realm.max_renewable_life }}{% endif %}
{% if realm.default_flags %}    default_flags = {{ realm.default_flags | join(', ') }}{% endif %}
{% if realm.preauth_types %}    preauth_types = {{ realm.preauth_types | join(', ') }}{% endif %}
{% if realm.acl_file %}    acl-file = {{ realm.acl_file }}{% endif %}
{% if realm.log_file %}    log = {{ realm.log_file }}{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if kdc_hpropd is defined %}{# Hpropd (KDC replication daemon) configuration #}
{% if kdc_hpropd.enabled %}hpropd:
{% if kdc_hpropd.port %}    port = {{ kdc_hpropd.port }}{% endif %}
{% if kdc_hpropd.listen_address %}    address = {{ kdc_hpropd.listen_address }}{% endif %}
{% if kdc_hpropd.acl_file %}    acl-file = {{ kdc_hpropd.acl_file }}{% endif %}
{% if kdc_hpropd.log_file %}    log = {{ kdc_hpropd.log_file }}{% endif %}
{% if kdc_hpropd.ssl %}    ssl = {{ kdc_hpropd.ssl }}{% endif %}
{% if kdc_hpropd.ssl_key %}    ssl-key = {{ kdc_hpropd.ssl_key }}{% endif %}
{% if kdc_hpropd.ssl_cert %}    ssl-cert = {{ kdc_hpropd.ssl_cert }}{% endif %}
{% endif %}

{% if kdc_http is defined %}{# HTTP (kadmin over HTTP) configuration #}
{% if kdc_http.enabled %}http:
{% if kdc_http.port %}    port = {{ kdc_http.port }}{% endif %}
{% if kdc_http.listen_address %}    address = {{ kdc_http.listen_address }}{% endif %}
{% if kdc_http.ssl_key %}    ssl-key = {{ kdc_http.ssl_key }}{% endif %}
{% if kdc_http.ssl_cert %}    ssl-cert = {{ kdc_http.ssl_cert }}{% endif %}
{% if kdc_http.root %}    root = {{ kdc_http.root }}{% endif %}
{% if kdc_http.log_file %}    log = {{ kdc_http.log_file }}{% endif %}
{% endif %}

{% if kdc_kadmin is defined %}{# kadmin (local/admin) daemon configuration #}
{% if kdc_kadmin.enabled %}kadmin:
{% if kdc_kadmin.port %}    port = {{ kdc_kadmin.port }}{% endif %}
{% if kdc_kadmin.listen_address %}    address = {{ kdc_kadmin.listen_address }}{% endif %}
{% if kdc_kadmin.acl_file %}    acl-file = {{ kdc_kadmin.acl_file }}{% endif %}
{% if kdc_kadmin.log_file %}    log = {{ kdc_kadmin.log_file }}{% endif %}
{% endif %}

{% if kdc_kadmin_local is defined %}{# kadmin.local (local-only) configuration #}
{% if kdc_kadmin_local.enabled %}kadmin_local:
{% if kdc_kadmin_local.acl_file %}    acl-file = {{ kdc_kadmin_local.acl_file }}{% endif %}
{% if kdc_kadmin_local.log_file %}    log = {{ kdc_kadmin_local.log_file }}{% endif %}
{% endif %}

{% if kdc_hprop is defined %}{# hprop (propagate changes to replicas) configuration #}
{% if kdc_hprop.enabled %}hprop:
{% if kdc_hprop.source %}    source = {{ kdc_hprop.source }}{% endif %}
{% if kdc_hprop.destinations|length > 0 %}    destinations = {{ kdc_hprop.destinations | join(', ') }}{% endif %}
{% if kdc_hprop.log_file %}    log = {{ kdc_hprop.log_file }}{% endif %}
{% endif %}
