## changetrack configuration file
##
## This file defines which files and directories changetrack should monitor
## for changes. It supports ls-compatible wildcards (e.g., /etc/h* or
## /opt/apache/cgi-bin/*.sh). If a path does not start with '/', changetrack
## interprets it as relative to the root directory '/'.
##
## Email notification for changes is configured by appending recipients
## to the path, separated by colons. Example:
##   /etc/passwd : root@localhost foo@bar.com
## changetrack sends one email per recipient only if files monitored by them
## are actually modified.
##
## Note: You can configure changetrack to automatically track all dpkg
## conffiles via /etc/default/changetrack. Entries in this file are tracked
## IN ADDITION to those automatically discovered conffiles.

# List of files and directories to track, optionally with email recipients.
# Each line follows the format: <path> : <recipient1> [recipient2 ...]
# Paths with wildcards are supported.
# Defaults to a safe set of system configuration files and root user dotfiles.
{% for file in tracked_files | default(['/boot/grub/menu.lst', '/etc/aliases', '/etc/apt/preferences', '/etc/default/*', '/etc/fetchmailrc', '/etc/hosts', '/etc/lprfilter', '/etc/modprobe.d/blacklist', '/etc/network/*', '/etc/news/leafnode/config', '/etc/pam.d/*', '/etc/printcap', '/etc/samba/smb.conf', '/etc/snort/snort.debian.conf', '/etc/squid/squid.conf', '/etc/ssh/sshd_config', '/etc/sudoers', '/root/.bash*', '/root/.profile']) %}
# {{ file }}
{% endfor %}