[buskill]
# Trigger to execute on USB hotplug removal event. Valid values are those listed by `buskill --list-triggers`, e.g., 'lock-screen', 'soft-lock', 'xtrapy'.
trigger = {{ trigger | default('lock-screen') }}

# If true, immediately execute the specified trigger when buskill starts (useful for testing).
run_trigger_on_start = {{ run_trigger_on_start | default(false) | bool | ternary('true', 'false') }}

# If true, increase output verbosity for debugging.
verbose = {{ verbose | default(false) | bool | ternary('true', 'false') }}