# Defaults for mon initscript
# Created by Dario Minnucci <midget@debian.org>

# Daemon options passed to the mon daemon at startup (e.g., `-f` for foreground, `-d` for debug)
# This variable allows overriding default startup flags.
DAEMON_OPTS="{{ daemon_opts | default('-f ') }}"