[Desktop Entry]
# The display name for the desktop entry.
Name={{ name | default('ibus-mozc GNOME Initial Setup') }}
# The entry type, fixed as Application for desktop files.
Type=Application
# The command to execute for the desktop entry.
Exec={{ exec | default('/usr/share/ibus-mozc/ibus-mozc-gnome-initial-setup.sh') }}
# Semicolon-separated list of desktop environments where this application should be shown.
OnlyShowIn={{ only_show_in | default('GNOME;') }}
# If true, the application will not be displayed in the application menu.
NoDisplay={{ no_display | default(true) }}
# Condition for autostarting the application.
AutostartCondition={{ autostart_condition | default('unless-exists ibus-mozc-gnome-initial-setup-done') }}