# Defaults for ample initscript
# sourced by /etc/init.d/ample

# Whether the ample service should start by default
# Controls the startup behavior of the Ample application.
# Set to 'yes' to enable automatic start on boot, 'no' to disable.
STARTAMPLE="{{ start_ample | default('no') }}"

# ample could run as any UID
# by default nobody:nogroup is choose
# please remember to change the permission
# of /var/run/ample if you wish to change this
# The user account under which the ample service runs.
# Default is 'nobody' for security isolation.
DEFUSER="{{ defuser | default('nobody') }}"

# The group under which the ample service runs.
# Default is 'nogroup' for security isolation.
DEFGROUP="{{ defgroup | default('nogroup') }}"