## This is a configuration file for Debian Junior Blend
## It is read after /etc/blends/blends.conf and can override or add variables

## This variable is replaced by a debconf question
## UPDATEUSERMENU=yes

## Some Blends do not build their name generic like "Debian #BLEND#" so
## we need the correct name here
## The human-readable name of the Debian blend.
BLENDNAME="{{ BLENDNAME | default('Debian Junior') }}"