# Defaults for jabberd2 initscript
# sourced by /etc/init.d/jabberd2
# installed at /etc/default/jabber-muc by the maintainer scripts

# user and group
# The user account to run the MUC service as.
USER={{ USER | default('jabber') }}

# The group account to run the MUC service as.
GROUP={{ GROUP | default('jabber') }}

# run muc
# Set to 1 to enable running the MUC service, 0 to disable.
MUC_RUN={{ MUC_RUN | default('1') }}