# /etc/vvmd.conf
# Configuration file for vvmd - Receive Visual Voicemail

# Enable debug mode; if true, vvmd runs in debug mode (verbose logging)
# Corresponds to the -d option in vvmd(1)
debug = {{ debug | default(false) | lower }}