[main]
# The default TuneD profile to use when no specific profile is requested.
# default: string, e.g. 'balanced'
default={{ default | default('balanced') }}

# Enable battery detection for automatic profile switching.
# If True, the service will switch to the battery profile when a battery is detected.
# default: boolean
battery_detection={{ battery_detection | default(true) | lower }}

[profiles]
# PPD = TuneD Profile Profile
# Name of the profile to use in power-saving mode.
# default: string, e.g. 'powersave'
power-saver={{ power_saver | default('powersave') }}

# Name of the profile to use for balanced performance.
# default: string, e.g. 'balanced'
balanced={{ balanced | default('balanced') }}

# Name of the profile to use for high-performance throughput.
# default: string, e.g. 'throughput-performance'
performance={{ performance | default('throughput-performance') }}

[battery]
# PPD = TuneD Profile Profile
# Name of the profile to use when the system is running on battery power.
# This is used in conjunction with battery_detection.
# default: string, e.g. 'balanced-battery'
balanced={{ balanced_battery | default('balanced-battery') }}