# inetd.conf: Internet super-server configuration
# Each line describes one service and how it should be started.
# Format: service_name socket_type protocol wait|nowait user[.group] server_path args
# Lines starting with '#' are comments.
{% for service in services %}
{{ service.name }} {{ service.socket_type }} {{ service.protocol }} {{ service.wait }} {{ service.user }}{{ '.' + service.group if service.group else '' }} {{ service.server_path }} {{ service.args | join(' ') }}
{% endfor %}