# Cluster definition file for ClusterSSH
# Each line defines a cluster: <cluster_name> = <host1> <host2> ...
{% for cluster in clusters %}# Cluster '{{ cluster.name }}': {{ cluster.description | default('no description') }}
{{ cluster.name }} = {% for host in cluster.hosts %}{{ host }}{% if not loop.last %} {% endif %}{% endfor %}{% if not loop.last %}
{% endif %}{% endfor %}