# Smokeping CGI path mapping.
# ScriptAlias /smokeping/smokeping.cgi {{ smokeping_cgi_path | default('/usr/lib/cgi-bin/smokeping.cgi') }}

# Smokeping web assets directory.
# Alias /smokeping {{ smokeping_www_path | default('/usr/share/smokeping/www') }}

# Directory configuration for Smokeping web assets.
#
# Options FollowSymLinks
# Require all granted
# DirectoryIndex smokeping.cgi
<Directory "{{ smokeping_www_path | default('/usr/share/smokeping/www') }}">
    Options FollowSymLinks
    Require all granted
    DirectoryIndex smokeping.cgi
</Directory>