# Directory containing additional Slurm plugin stack configuration files.
# The plugstack.conf mechanism allows for modular plugin loading.
# This file includes all .conf files from the specified directory.
include {{ plugstack_conf_d_dir | default('/etc/slurm/plugstack.conf.d') }}/*.conf