{#
  console-setup-linux: Character composition configuration.
  This template configures which character set's compose sequences are used
  by the console setup utilities.
#}

# Compose sequences for {{ compose_sequences_for | default('ARMSCII-8') | string }}