# System-wide kernel parameter: max file descriptors (0xffff)
# Reference: /etc/sysctl.conf, /etc/sysctl.d/99-{{ service_name }}.conf
# Applies to: Linux kernel >= 3.7 (all supported architectures)

{% for key, value in settings.items() %}
# {{ settings[key].description }}
{{ key }} = {{ value }}
{% endfor %}
